//fonts
$google-font:  'https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700';

$fontFamily: 'Titillium Web', sans-serif;

$baseFontSize: 18px;


$imgPath: "../i/";
$usersPath: "../userfiles/";
$fontPath: "../fonts/";


// Slick
$slick-font-path: $fontPath;
$slick-loader-path: $imgPath;


 // Colors
$color: #444444;
$gray: #999999;
$bgtopbox: #87509c;
$footerBgColor: #2d3e50;
$red: #ff0000;
$green: #16a086;
$bgButton: #1bbc9b;
$black: #000000;
$white: #ffffff;

