* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: $baseFontSize;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: rem(14px) $fontFamily ;
  //color: #999;
  min-height: 100vh;
}
.container-fluid {
  width: 100%;
}
.main-content {
  flex: 1;
}
.container {
  //background: #fff;
}
.headtitle {
  position: absolute;
  left: -9999px;
  top: -9999px;
}
img {
  vertical-align: top;
}




